* {
  font-family: sans-serif
}
#app {
  padding-left: 2rem;
  padding-right: 2rem;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.f-1 {
  flex: 1;
}
.layout-stack-h-4 > * + *{
  margin-left: 1rem;
}
